// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	box-shadow: 0 0 2px #CCCCCC;
	line-height: 1.42857;
	margin: 12px;
	padding-bottom: 2px;
	transition: all 0.1s ease-in-out 0s;
}
.micro
{
	margin: 5px 0;
}
